.mat-toolbar.mat-primary {
  background: #51a5e5;
}

.sidenav-container {
  height: 100%;
}

.app-nav-bar {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 12;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  background-color: #2c323b;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  // color: white;
  text-decoration: none;
}
a.mat-list-item {
  color: #717376;
  font-size: 14px;
}
.active {
  color: #e3e3e5 !important;
}
a.mat-list-item:hover {
  color: #e3e3e5 !important;
}
