/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
body {
  height: 100%;
}
body {
  margin: 0;
}
.fa {
  padding-right: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #898989;
}

@keyframes slidein {
  0% {
    margin-left: 20px;
  }
  100% {
    margin-left: 0px;
  }
}
.app-content {
  margin: 2px 13px 0px 10px;
  margin-top: 70px;
}

.content-header {
  background-color: #51a5e5;
  line-height: 40px;
  padding: 5px;
}
.header-left {
  vertical-align: middle;
  // padding-left: 5px;
  border-radius: 5px 5px 0px 0px;
  font-size: 16px;
  color: white;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 2 !important;
  letter-spacing: 0.5px !important;
}
.content {
  animation-name: slidein;
  animation-duration: 0.9s;
  border: 1px solid lightgrey;
  margin-top: 14px;
  border-radius: 5px 5px 0px 0px;
}

.detail {
  padding: 2px;
  margin-top: 5px;
  overflow: hidden;
  margin: 2px;
}
.spacer {
  flex: 1 1 auto;
}

.mat-raised-button {
  border-radius: 5px !important;
  margin-left: 5px !important;
}
// 51A5E5
button.mat-primary {
  background-color: #51a5e5 !important;
}

button.mat-warn {
  background-color: #fa7470 !important;
}

.float-right {
  float: right;
}
.mat-dialog-container {
  padding: 0px !important;
  overflow: -webkit-paged-x !important;
}

.mat-slide-toggle-bar {
  width: 39px !important;
  height: 23px !important;
  border-radius: 12px !important;
}
.mat-slide-toggle-thumb-container {
  width: 20px !important;
  height: 21px !important;
  padding: 0px 2px !important;
  top: 1.5px !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #51a5e5 !important;
}
