<div class="content">
  <div class="content-header">
    <div class="header-left">Welcome to our Angular 7 Application</div>
  </div>
  <div class="detail">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
      repudiandae repellat perferendis corrupti, harum provident ipsam illo
      laudantium magni deleniti corporis modi error aperiam iure molestiae
      eligendi quo voluptatem minus?
    </p>
  </div>
</div>
