<div class="content">
  <div class="content-header">
    <div class="header-left">Issue Tracker</div>
  </div>
  <div class="detail">
    <div class="error" async>{{ errorMessage }}</div>
    <mat-form-field *ngIf="issueTrackerList.length > 0">
      <input
        matInput
        [(ngModel)]="filterValue"
        (change)="applyFilter($event.target.value)"
        placeholder="Issue Count"
        type="number"
      />
    </mat-form-field>

    <div class="fileUpload btn btn-success">
      <span>Upload file</span>
      <input
        type="file"
        name="file"
        class="upload"
        id="fileUploader"
        (change)="converCsvFile($event.target.files)"
        style="float: right;"
      />
    </div>

    <div class="mat-elevation-z8 ">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
          <td mat-cell *matCellDef="let row" async>{{ row.firstName }}</td>
        </ng-container>

        <ng-container matColumnDef="surName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SurName</th>
          <td mat-cell *matCellDef="let row" async>{{ row.surName }}</td>
        </ng-container>

        <ng-container matColumnDef="issueCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Count</th>
          <td mat-cell *matCellDef="let row" async>{{ row.issueCount }}</td>
        </ng-container>

        <ng-container matColumnDef="dateofBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date of Birth
          </th>
          <td mat-cell *matCellDef="let row" async>
            {{ row.dateofBirth | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
