table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 25%;
}
.mat-form-field-wrapper {
  width: 25% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px 0 0 0;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  display: block !important;
}

.fileUpload {
  float: right;
  position: relative;
  overflow: hidden;
  margin: 10px 0 0 0;
}
.btn-success {
  color: #ffffff;
  background-color: #37b358;
  border-color: #319f3c;
}
.btn {
  font-size: 13px;
  padding: 5px 15px;
  line-height: 19px;
  border-radius: 3px;
}
